###### Exam-2: Fall 2022
#### Total number of points: 49

This is an open-book test. However, talking or chatting with your classmates is NOT permitted and will be considered plagiarism. 

<b>Before you submit this test, make sure your answers are saved, and everything runs as expected</b>. 

- For empty notebook submissions, you will receive 0 points. 
- If instructions (including not using the same variable names) are not followed that led to a wrong answer, you will receive 0 points. 

First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).
Steps to evaluate your solutions:

Step-1: Ensure you have installed Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as .ipynb file format

Step-6: Go to lms.rpi.edu and upload your notebook at the appropriate link to submit this homework. Make sure your answers are saved before you submit. 

#### Please note that for any question in this test you will receive points ONLY if your solution passes all the hidden testcases. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

### Q-1 [10 points] Please answer the following questions in the same order as listed here below: 

1. Assign variable `dataSize` and `features` with the total number of data points present in the dataset and the total number of features present in this dataset.
2. Assign the the names of features present in the iris dataset to a list named `colnames`.
3. Convert the data structure `X` into a dataframe `df`.

In [1]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
X = iris.data
y = iris.target

# YOUR CODE HERE
dataSize = len(X)
features = len(X[0])
colnames = iris.feature_names
df = pd.DataFrame(data = X, columns = iris['feature_names'])
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [2]:
#This will test that you have not mislabeled a variable. 
assert 'dataSize' in globals()
assert 'features' in globals()
assert 'colnames' in globals()
assert 'X' in globals()
assert 'y' in globals()
assert 'df' in globals()

In [3]:
#Test cell-1 [4pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [4]:
#Test cell-2 [1pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [5]:
#Test cell-3 [4pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

### Q-2 [10 points] Please answer the following questions in the same order as listed here below: 

Use the dataframe `df` as loaded below following questions. 

This data consists of an dependent variable `Income` (`y`) and a variety of features (`X`) related to purchase history. 

1. Cluster the data in dataframe `X` using KMeans algorithm to create 3 clusters. Use a `random_state`=10. Save the Sum of squared distances of samples to their closest cluster center to a variable `C1_sse`.


2. Save the cluster labels in the variable `C1_label`.

In [6]:
#This loads our data
import pandas as pd
pd.set_option('display.max_columns', None)
df=pd.read_csv('https://raw.githubusercontent.com/rpi-techfundamentals/website_fall_2021/master/site/public/q2.csv' )
X = df.iloc[:,1:22]
y = df['Income']

In [32]:
#Use the dataframe X for answering this question

# YOUR CODE HERE
from sklearn.cluster import KMeans
C1 = KMeans(n_clusters = 3, random_state = 10).fit(X)
C1_sse = C1.inertia_
C1_label = C1.labels_

,Kidhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Education_Basic,Education_Graduation,Education_Master
0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,1,0
1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,1,0
2,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,1,0
3,1,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,1,0
4,1,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,0,46,709,43,182,42,118,247,2,9,3,4,5,0,0,0,0,0,0,1,0
2236,2,56,406,0,30,0,0,8,7,8,2,5,7,0,0,0,1,0,0,0,0
2237,0,91,908,48,217,32,12,24,1,2,3,13,6,0,1,0,0,0,0,1,0
2238,0,8,428,30,214,80,30,61,2,6,5,10,3,0,0,0,0,0,0,0,1
2239,1,40,84,3,61,2,1,21,3,3,1,4,7,0,0,0,0,0,0,0,0

In [8]:
#This will test that you have not mislabeled a variable. 
assert 'C1_sse' in globals()
assert 'C1_label' in globals()

In [9]:
#Test cell-4 [5pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [10]:
#Test cell-5 [5pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

### Q-3 [5 points] Please answer the following questions in the same order as listed here below: 

1. Standardize X using the `StandardScaler()` and assign it to a DataFrame X2 where the column names are the same as they are for the origional X.

In [11]:
# YOUR CODE HERE
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
X2 = std.fit_transform(X)
pd.DataFrame(X2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,-0.825218,0.307039,0.983781,1.551577,1.679702,2.462147,1.476500,0.843207,0.349414,1.409304,2.510890,-0.550785,0.693904,-0.28014,-0.283830,-0.28014,-0.262111,-0.11651,-0.157171,0.993769,-0.444816
1,1.032559,-0.383664,-0.870479,-0.636301,-0.713225,-0.650449,-0.631503,-0.729006,-0.168236,-1.110409,-0.568720,-1.166125,-0.130463,-0.28014,-0.283830,-0.28014,-0.262111,-0.11651,-0.157171,0.993769,-0.444816
2,-0.825218,-0.798086,0.362723,0.570804,-0.177032,1.345274,-0.146905,-0.038766,-0.685887,1.409304,-0.226541,1.295237,-0.542647,-0.28014,-0.283830,-0.28014,-0.262111,-0.11651,-0.157171,0.993769,-0.444816
3,1.032559,-0.798086,-0.870479,-0.560857,-0.651187,-0.503974,-0.583043,-0.748179,-0.168236,-0.750450,-0.910898,-0.550785,0.281720,-0.28014,-0.283830,-0.28014,-0.262111,-0.11651,-0.157171,0.993769,-0.444816
4,1.032559,1.550305,-0.389085,0.419916,-0.216914,0.155164,-0.001525,-0.556446,1.384715,0.329427,0.115638,0.064556,-0.130463,-0.28014,-0.283830,-0.28014,-0.262111,-0.11651,-0.157171,-1.006270,-0.444816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,-0.825218,-0.107383,1.203678,0.419916,0.066692,0.081926,2.203398,3.891766,-0.168236,1.769263,0.115638,-0.550785,-0.130463,-0.28014,-0.283830,-0.28014,-0.262111,-0.11651,-0.157171,0.993769,-0.444816
2236,2.890335,0.237969,0.303291,-0.661449,-0.606873,-0.687068,-0.655733,-0.690659,2.420015,1.409304,-0.226541,-0.243114,0.693904,-0.28014,-0.283830,-0.28014,3.815174,-0.11651,-0.157171,-1.006270,-0.444816
2237,-0.825218,1.446700,1.795020,0.545656,0.221789,-0.101168,-0.364974,-0.383886,-0.685887,-0.750450,0.115638,2.218248,0.281720,-0.28014,3.523233,-0.28014,-0.262111,-0.11651,-0.157171,0.993769,-0.444816
2238,-0.825218,-1.419719,0.368666,0.092992,0.208495,0.777683,0.071165,0.325527,-0.168236,0.689386,0.799996,1.295237,-0.954831,-0.28014,-0.283830,-0.28014,-0.262111,-0.11651,-0.157171,-1.006270,2.248122
2239,1.032559,-0.314594,-0.653555,-0.586005,-0.469501,-0.650449,-0.631503,-0.441406,0.349414,-0.390491,-0.568720,-0.550785,0.693904,-0.28014,-0.283830,-0.28014,-0.262111,-0.11651,-0.157171,-1.006270,-0.444816

In [12]:
#This will test that you have not mislabeled a variable. 
assert 'X2' in globals()

In [13]:
#Test cell-6a [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [14]:
#Test cell-6b [2pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

## Q-4 [12 points] Please answer the following questions in the same order as listed here below: 

Use the values `X_train`, `X_test`, `y_train`, `y_test` provided below to answer the following questions. 
 
2. Now use DecisionTreeRegressor with `random_state`=0 and `max_depth`=`9` to *train using the training dataset* and predict the `Income` using both the training dataset (creating `y_train_pred`) and testing dataset `y_train_pred`. 

3. Compute the r2 for both the training (`r2_train`) and testing (`r2_train`) .

In [15]:
from sklearn.model_selection import train_test_split
df=pd.read_csv('https://raw.githubusercontent.com/rpi-techfundamentals/website_fall_2021/master/site/public/q2.csv' )
X = df.iloc[:,1:22]
y = df['Income']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=10)

In [16]:
from sklearn.tree import DecisionTreeRegressor


# YOUR CODE HERE
regressor = DecisionTreeRegressor(random_state=0, max_depth=9)
regressor.fit(X_train, y_train)

y_train_pred = regressor.predict(X_train)
y_test_pred = regressor.predict(X_test)

r2_train = regressor.score(X_train, y_train)
r2_test = regressor.score(X_test, y_test)
print(r2_train, r2_test)

0.9685595169459215 0.5706208886411626

In [17]:
#This will test that you have not mislabeled a variable. 

assert 'y_train_pred' in globals()
assert 'y_test_pred' in globals()
assert 'r2_train' in globals()
assert 'r2_test' in globals()

In [18]:
#Test cell-7 [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL 
#print(round(y_train_pred.sum(),0))

In [19]:
#Test cell-8 [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL 
#print(round(y_test_pred.sum(),0))

In [20]:
#Test cell-9 [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL 
#print(round(r2_train,3))

In [21]:
#Test cell-10 [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL 
#print(round(r2_test,3))

## Q-5 [12 points] Please answer the following questions in the same order as listed here below: 
3. Now train a logistic regression classifier (with `random_state`=0 and `solver`=`newton-cg`) to predict whether someone is a high earner (they have an income one standard deviation above the mean.) Train on the training data below and predict using both the training (`y_train_pred_b`) and test (`y_test_pred_b`) sets. 

Compute the accuracy score  of training (`accuracy_train`) and  `. 
4. Why do you think the accuracy scores are different ? Please write your reasoning in a string variable `reason2`.

In [22]:
from sklearn.model_selection import train_test_split
df=pd.read_csv('https://raw.githubusercontent.com/rpi-techfundamentals/website_fall_2021/master/site/public/q2.csv' )
X = df.iloc[:,1:22]
#Set threshold of mean plus 1 standard devaiation
high_earner_thres=df['Income'].mean()+df['Income'].std()
df['HighEarner']=0
df.loc[df['Income']>=high_earner_thres,'HighEarner']=1
y=df['HighEarner']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=10)

In [29]:
from sklearn.linear_model import LogisticRegression
# YOUR CODE HERE
clf = LogisticRegression(random_state=0, solver = 'newton-cg').fit(X, y)
y_train_pred_b = clf.predict(X_train)
y_test_pred_b = clf.predict(X_test)
accuracy_train = clf.score(X_train, y_train)
accuracy_test = clf.score(X_test, y_test)
print(accuracy_train, accuracy_test)

0.9232142857142858 0.9196428571428571

In [24]:
#This will test that you have not mislabeled a variable. 

assert 'y_train_pred_b' in globals()
assert 'y_test_pred_b' in globals()
assert 'accuracy_train' in globals()
assert 'accuracy_test' in globals()

In [25]:
#Test cell-11 [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL 
#print(round(y_train_pred.sum(),0))

In [26]:
#Test cell-12 [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL 
#print(round(y_train_pred.sum(),0))

In [27]:
#Test cell-13 [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL 
#print(round(y_train_pred.sum(),0))

In [28]:
#Test cell-14 [3pt] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL 
#print(round(y_train_pred.sum(),0))