#### Homework-3
##### Total number of points: 70
#### Due date: September 29, 2022

Before you submit this homework, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). You can discuss with others regarding the homework but all work must be your own.

This homework will test your knowledge on data manipulation, manipulating strings and feature preprocessing. The Python notebooks shared will be helpful to solve these problems.  

Steps to evaluate your solutions:

Step-1: Try on Colab or Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the homework's .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as ".ipynb"

Step-6: Go to lms.rpi.edu and upload your homework at the appropriate link to submit this homework.


#### Please note that for any question in this assignment you will receive points ONLY if your solution passes all the test cases including hidden testcases as well. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

Use the titanic dataset from this url ('https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv') and we will use the same dataset in some of the questions here below.

#### Q1. Shape of a Data Frame. 
1. Import pandas package as pd.
2. Read the file from the 'url' and load the data into dataframe 'df' with default index.
3. Set number of rows equal to the variable `rows` and the number of columns equal to the variable `cols`. 
4. Print out the number of rows and columns, clearly labeling each.

In [1]:

url='https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv'

# YOUR CODE HERE
import pandas as pd
df = pd.read_csv(url)
rows = len(df.axes[0])
cols = len(df.axes[1])

print (rows)
print (cols)

891
12

In [2]:
#DO NOT MODIFY/DELETE THIS CELL
assert rows==891
assert df['Age'].sum()==21205.17

In [3]:
#DO NOT MODIFY/DELETE THIS CELL

Now we will be using the above dataframe df to do some preprocessing operations on this data. All the required libraries for further processing will be loaded here.

In [4]:
import numpy as np
import pandas as pd
import re
from sklearn.model_selection import train_test_split

### Q2 Dataframe Basic Analyses
Determine how many first, second, and third class (assiging to the variables `class1`, `class2`, `class3`) passangers there are. 

*Hint -- Use value_counts operation*

In [5]:
#Your answer here. 

# YOUR CODE HERE
import pandas as pd
class1 = df['Pclass'].value_counts()[1]
class2 = df['Pclass'].value_counts()[2]
class3 = df['Pclass'].value_counts()[3]
print (class1)
print (class2)
print (class3)

216
184
491

In [6]:
#DO NOT MODIFY/DELETE THIS CELL
assert class1>0
assert class2>0
assert class3>0

In [7]:
#DO NOT MODIFY/DELETE THIS CELL

### Q3 Groupby

Now use a groupby statement to calculate the mean age (use the 'age' attribute) of passengers who are of different gender. 

Round the age to 2 decimal places (for example 3.14156 converts to 3.14 ) and assign the resulting variable to `female_age`, `male_age`.

In [8]:
#Your answer
# YOUR CODE HERE
import numpy as np
import pandas as pd
df = pd.read_csv(url)
female_float = df.groupby('Sex')['Age'].mean()['female']
male_float = df.groupby('Sex')['Age'].mean()['male']
female_age = female_float.round(decimals=2, out=None)
male_age = male_float.round(decimals=2, out=None)
print(female_age)
print(male_age)

27.92
30.73

In [9]:
#DO NOT MODIFY/DELETE THIS CELL
assert female_age>0
assert isinstance(female_age, np.floating)
assert male_age>0 
assert isinstance(male_age, np.floating)

In [10]:
#DO NOT MODIFY/DELETE THIS CELL

### Q4 Split Dataframe

Now split the dataframe `df` into 3 different dataframes `dfclass1`, `dfclass2`, and `dfclass3` using the `Pclass` variable.

In [3]:
#Your answer

# YOUR CODE HERE
url='https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv'
import pandas as pd
df = pd.read_csv(url)
Pclass = df.groupby('Pclass')
dfclass1 = Pclass.get_group(1)
dfclass2 = Pclass.get_group(2)
dfclass3 = Pclass.get_group(3)

(216, 12)

In [12]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(dfclass1)>0
assert len(dfclass2)>0
assert len(dfclass3)>0
assert isinstance(dfclass1, pd.DataFrame)
assert isinstance(dfclass2, pd.DataFrame)
assert isinstance(dfclass3, pd.DataFrame)

In [13]:
#DO NOT MODIFY/DELETE THIS CELL

In [14]:
#DO NOT MODIFY/DELETE THIS CELL

In [15]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q5 Filter Missing Values

Create a new dataframe `dfna1` from `df` which removes all rows in which *any* of the variables missing.

Create a new dataframe `dfna2` from `df` which removes all rows in which *all* of the variables columns `Age` and `Cabin`.

In [5]:

# YOUR CODE HERE
import pandas as pd
df = pd.read_csv(url)
dfna1 = df.dropna()
q = len(dfna1)
dfna2 = df.drop(['Age','Cabin'], axis = 1)
dfna2

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,Q

In [17]:
assert len(dfna1)>0
assert len(dfna2)>0
assert isinstance(dfna1, pd.DataFrame)
assert isinstance(dfna2, pd.DataFrame)

In [18]:
#DO NOT MODIFY/DELETE THIS CELL

In [19]:
#DO NOT MODIFY/DELETE THIS CELL

### Q6 Stratified sampling 

Utilize the original dataframe 'df'.  

1. Set the `y` variable to the `Survived` column.
2. Set X to the `SibSp`,`Parch`, and `Fare` columns of the dataframe. 
3. Create `train_X`, `test_X`, `train_y`, `test_y` by doing a 50% 50% split with stratification by the `Survived` varaible. Use `random_state` equal to 123.

In [15]:
#Your answer
# YOUR CODE HERE
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

url='https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv'
df = pd.read_csv(url)

y = df[["Survived"]]
X = df[["SibSp", "Parch", "Fare"]]
 
(train_X, test_X, train_y, test_y) = train_test_split(X, y,train_size = 0.5,test_size = 0.5,random_state = 123,stratify=y)

train_X = pd.DataFrame(train_X)
test_X = pd.DataFrame(test_X)
train_y = train_y.squeeze()
test_y = test_y.squeeze()
train_X

     SibSp  Parch      Fare
648      0      0    7.5500
122      1      0   30.0708
349      0      0    8.6625
353      1      0   17.8000
328      1      1   20.5250
..     ...    ...       ...
368      0      0    7.7500
340      1      1   26.0000
540      0      2   71.0000
768      1      0   24.1500
297      1      2  151.5500

[445 rows x 3 columns]

In [11]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(train_X)>0
assert len(test_X)>0
assert isinstance(train_X, pd.DataFrame)
assert isinstance(test_X, pd.DataFrame)
assert isinstance(train_y, pd.Series)
assert isinstance(test_y, pd.Series)

In [12]:
#DO NOT MODIFY/DELETE THIS CELL

In [13]:
#DO NOT MODIFY/DELETE THIS CELL

In [14]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q7  Feature Manipulation
1. Consider the original dataframe `df`. Create a copy of this and call it `dfage`.
2. Remove all the rows of `dfage` in which the `Age` value is missing. 
3. Then create a new column `dfage['Age_st']` which replaces each value in the 'age' attribute with the corresponding standardized value *rounded to 2 decimal places*. You are not modifying `dfage['Age']`.


*Hint: See this for definition of standardized value.  [https://en.wikipedia.org/wiki/Standard_score](https://en.wikipedia.org/wiki/Standard_score) You can use np.mean() and np.std() functions to compute the mean and standard deviation values.*

In [25]:

# YOUR CODE HERE
import numpy as np
import pandas as pd
url='https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv'
df = pd.read_csv(url)
df.head()

dfage = df.copy()
dfage = df.dropna(axis = 0, how = 'any', subset = ['Age'])
standardized = (df['Age'] - df['Age'].mean())/df['Age'].std()
Age_st = standardized.round(decimals=2, out=None)
dfage.insert(6,'Age_st',Age_st)
dfage

,PassengerId,Survived,Pclass,Name,Sex,Age,Age_st,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,-0.53,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,0.57,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,-0.25,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,0.36,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.36,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0.64,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,-0.19,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,-0.74,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,-0.25,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0.16,0,0,370376,7.7500,NaN,Q

In [26]:
assert len(dfage)>0
assert isinstance(dfage, pd.DataFrame)
assert 'Age_st' in dfage.columns

In [27]:
#DO NOT MODIFY/DELETE THIS CELL

In [28]:
#DO NOT MODIFY/DELETE THIS CELL

In [29]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q8 Feature Creation 2
1. Create a copy of df called `df8`.
2. In `df8` create a feature called `stown` using `Embarked`.  

    For the `Embarked` is 'S' make `stown` 1. 
    
    Otherwise `stown` is 0.

In [30]:

# YOUR CODE HERE
url='https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv'
import numpy as np
import pandas as pd
df = pd.read_csv(url)
df.head()

df8 = df.copy()

conditions = (df8['Embarked'] == 'S',
              df8['Embarked'] != 'S')

values = (1, 'stown' == 0)

df8['stown'] = np.select(conditions, values)

df8

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,stown
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [31]:
#DO NOT MODIFY/DELETE THIS CELL
assert set(df8['stown'])=={0,1}
assert df8.shape==(891, 13)

In [32]:
#DO NOT MODIFY/DELETE THIS CELL

### Q9. Beautiful Soup
Use the html content shared here below and parse it using the 'soup' object to 
assign all the unique 'Hometown' values to as a list object `hts`


Strip any leading or trailing white space and convert each value of the hometown in `hts` to a lower-case.


Print the final answer.

In [18]:
import requests
from bs4 import BeautifulSoup
import operator
import pandas as pd
import json
newtext = """
<p>
    <strong class="person1">YOB:</strong> 1990<br />
    <strong class="person1">GENDER:</strong> FEMALE<br />
    <strong class="person1">EYE COLOR:</strong> GREEN<br />
    <strong class="person1">HAIR COLOR:</strong> BROWN<br />
    <strong class="person1">GPA:</strong> 4<br />
    <strong class="person1">Hometown:</strong> Johnstown<br />
</p>

<p>
    <strong class="person2">YOB:</strong> 1993<br />
    <strong class="person2">GENDER:</strong> FEMALE<br />
    <strong class="person2">EYE COLOR:</strong> BROWN<br />
    <strong class="person2">HAIR COLOR:</strong> BLACK<br />
    <strong class="person2">GPA:</strong> 3.5<br />
    <strong class="person2">Hometown:</strong> Pittston<br />
</p>

"""
hts=[]
soup = BeautifulSoup(newtext)
# YOUR CODE HERE
soup = soup.get_text()
soup = soup.split()
for i in range(len(soup)):
    if soup[i] == 'Hometown:':
        hts.append(soup[i+1].lower())

['johnstown', 'pittston']

In [34]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(hts)==2
assert hts==['johnstown', 'pittston']

### Q10 String operations

1. Given a string `str10` first split the string into words, strip any leading or trailing white space, and convert them to lowercase. 
2. Now using the 'join' operation we learnt in the class, concatenate these words to a new string `str11` with a '-' between each.

For example: str1 is 'it is cold today' to str2 will be: 'it-is-cold-today'

In [35]:
str10 = 'Email the company at xyz@abcd.com and is the easiest way compared to tweet @abcdxyz'
# YOUR CODE HERE

str10 = str10.split()
        
str10 = [x.strip(' ') for x in str10]
    
for i in range(len(str10)):
               str10[i] = str10[i].lower()
str11 = '-'.join(str10)
str11

'email-the-company-at-xyz@abcd.com-and-is-the-easiest-way-compared-to-tweet-@abcdxyz'

In [36]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(str11)==83

In [37]:
#DO NOT MODIFY/DELETE THIS CELL

### Q11. Regular Expressions

Create a function called `extract_email` which uses the regular expressions package to extract all the email ids mentioned in a sentence.

For example:

extract_email('Email the company at jondow@franks.com today.')

Should return a list: `['jondow@franks.com']`

In [25]:
#Your answer here
import re
    
str10 = 'Email the company at jondow@franks.com today.'

# YOUR CODE HERE
def extract_email(str10):
    pattern =  r'\S*@\S*\s?'
    x = re.findall(pattern, str10)
    x = [x.rstrip(' ') for x in x]
    return x
extract_email(str10)

['jondow@franks.com']

In [22]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(extract_email('Email the company at jondow@franks.com today.'))==1
assert extract_email('Email the company at jondow@franks.com today.')==['jondow@franks.com']

In [23]:
#DO NOT MODIFY/DELETE THIS CELL

In [24]:
#DO NOT MODIFY/DELETE THIS CELL