# Exam 2 Review

#### For this Review, we will be using Stroke data provided by WHO. The dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status 
<ul> 
    <li>id: unique identifier</li>
    <li>gender: "Male", "Female" or "Other"</li>
    <li>age: age of the patient</li>
    <li>hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension</li>
    <li>heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease</li>
    <li>ever_married: "No" or "Yes"</li>
    <li>work_type: 'Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'</li>
    <li>Residence_type: "Rural" or "Urban"</li>
    <li>avg_glucose_level: average glucose level in blood</li>
    <li>bmi: body mass index</li>
    <li>smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*</li>
    <li>stroke: 1 if the patient had a stroke or 0 if not -- <b>Class label column</b> </li>
</ul>
*Note: "Unknown" in smoking_status means that the information is unavailable for this patient

In [2]:
#Please run this cell before answering the following questions 
import numpy as np
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/rpi-techfundamentals/website_fall_2022/master/site/public/newdf.csv')
df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.600000,1,1,0,1,0,1,0,0,1,1,0,0
1,61.0,0,0,202.21,28.893237,1,0,0,1,0,0,1,0,0,0,1,0
2,80.0,0,1,105.92,32.500000,1,1,0,1,0,1,0,0,0,0,1,0
3,49.0,0,0,171.23,34.400000,1,0,0,1,0,1,0,0,1,0,0,1
4,79.0,1,0,174.12,24.000000,1,0,0,1,0,0,1,0,0,0,1,0



1. Perform standardization on **only** the nonbinary columns using the `StandardScaler()`, creating a final `DataFrame` `df2` that has all the columns and column names of the origional dataframe.

In [36]:
#Your answer
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
df1 = df.copy()
df2 = df.copy()
new = df[['age','avg_glucose_level', 'bmi']]
new = std.fit_transform(new)
df1 = pd.DataFrame(new, columns =['age', 'avg_glucose_level', 'bmi'])
df2.update(df1)
df2

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.051434,0,1,2.706375,1.001234,1,1,0,1,0,1,0,0,1,1,0,0
1,0.786070,0,0,2.121559,0.000000,1,0,0,1,0,0,1,0,0,0,1,0
2,1.626390,0,1,-0.005028,0.468577,1,1,0,1,0,1,0,0,0,0,1,0
3,0.255342,0,0,1.437358,0.715418,1,0,0,1,0,1,0,0,1,0,0,1
4,1.582163,1,0,1.501184,-0.635711,1,0,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,1.626390,1,0,-0.494658,0.000000,0,0,0,1,0,1,0,0,1,0,1,0
5106,1.670617,0,0,0.420775,1.442949,0,0,0,1,0,0,1,0,1,0,1,0
5107,-0.363842,0,0,-0.511443,0.221736,0,0,0,1,0,0,1,0,0,0,1,0
5108,0.343796,0,0,1.328257,-0.427845,0,1,0,1,0,1,0,0,0,1,0,0
5109,0.034205,0,0,-0.460867,-0.349895,0,0,0,1,0,0,0,0,1,0,0,0


2. Transform the data using principal component analysis to include the top 5 components. The result should be an numpy array with the default column numbers and called `pca1`.

In [76]:
#Your answer
import numpy as np
from sklearn.decomposition import PCA
pca = PCA(n_components = 5)
pca.fit(df2)
pca1 = pca.explained_variance_ratio_
pca1

array([0.33950313, 0.17725378, 0.14384017, 0.06316855, 0.05693931])

3a. Transform the data using principal component analysis to include the 90% of the variance. The result should be an numpy array with the default column numbers and called `pca2`.  

3b. Determine the percent of the variance explained by the 5 components in `pca1` and assign the value (0-1.0) to the variable `pca1_var`.

In [89]:
# Your answer
import numpy as np
from sklearn.decomposition import PCA
pca = PCA(0.90)
pca2 = pca.fit_transform(df2)

pca1_var = pca.explained_variance_[5]
print (pd.DataFrame(pca2))
print (pca1_var)

             0         1         2         3         4         5         6  \
0     2.572061 -1.825608  0.383288  0.252148 -0.898372 -0.337617  0.300439
1     1.556602 -1.708348 -0.368261  0.028413  1.170634  0.381502 -0.237681
2     1.502370  0.499969 -0.750001 -0.506617 -0.030751  0.636888  0.761345
3     1.304676 -0.861645  0.558711 -0.167424 -0.536968 -0.653723 -0.562631
4     1.528910 -1.278572 -1.454221  0.006023  1.147793  0.417568 -0.171232
...        ...       ...       ...       ...       ...       ...       ...
5105  1.046698  0.838624 -1.136281 -0.696261  0.292068 -0.557429  0.122660
5106  2.167370  0.523828 -0.148808  0.472762  1.175208 -0.520077  0.057152
5107 -0.194444  0.532174  0.101337  0.159054  1.187877  0.423363 -0.162081
5108  0.685119 -1.240379 -0.339139 -0.076910 -0.884790  0.625145  0.089762
5109 -0.354379  0.286692 -0.443163  0.338222  0.157971 -0.547882 -0.336905

             7
0    -0.651519
1     0.123754
2     0.015211
3     0.683574
4     0.150778
...        ...
5105 -0.045944
5106  0.075473
5107  0.117183
5108 -0.607798
5109  0.057364

[5110 rows x 8 columns]
0.2500254999577357

4. Determine the number of components in `pca2` that explain 90% of the variance and assign the value to the `pca2_comp`.

In [88]:
# Your answer
pca = PCA(.90)  
pca.fit(df2)  
pca2_comp = pca.n_components_
pca2_comp

8

5. Create a cluster analysis using K-means and 4 clusters.

In [ ]:
# Your answer

6. Predict `stoke` using 3 different classifiers and evaluate with 3 different approriate evaluation metrics.

In [19]:
# Your answer

7. Predict `age` using 3 different regression models and evaluate with 3 different approriate evaluation metrics.

In [21]:
# Your answer